<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Validar Motoristas</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/ValiMoto.css}">
</head>
<body>
<div class="vali-bg">
    <div class="vali-card">
        <div class="vali-title">Lista de Motoristas</div>
        <table class="vali-table">
            <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Email Comercial</th>
                <th>Telefone</th>
                <th>Validado</th>
                <th>Detalhes</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="motorista : ${motoristas}">
                <td th:text="${motorista.nome_completo}">Nome</td>
                <td th:text="${motorista.cpf}">CPF</td>
                <td th:text="${motorista.email_comercial}">Email</td>
                <td th:text="${motorista.telefone_pessoal}">Telefone</td>
                <td th:text="${motorista.valido ? 'Sim' : 'Não'}">Valido</td>
                <td>
                    <a th:href="@{/admin/motorista/{id}(id=${motorista.motorista_id})}" class="btn-detalhes">Ver detalhes</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a href="/admin/home" class="btn-voltar">Voltar</a>
    </div>
</div>
</body>
</html>
