<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Global Transportes</title>
    <link rel="stylesheet" th:href="@{/css/Cadastro.css}" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background">
        <img th:src="@{/img/caminhoes.jpg}" alt="Caminhoes" class="bg-img" />
        <div class="overlay"></div>
    </div>
    <div class="container">
        <div class="background"></div> 
        <div class="logo">
            <img th:src="@{/img/LogoSem.png}" alt="Logo Anatanelly" />
        </div>

        <div class="login-box">
            <h2>Seja bem-vindo(a)!</h2>
            <p>Insira os dados do seu cadastro!</p>
            
            <form th:action="@{/login}" method="post">
                <input type="text" name="email" placeholder="Email" required />
                <input type="password" name="senha" placeholder="Senha" required />
                <button type="submit" class="btn">Entrar</button>
            </form>
            
            <a th:href="@{/recuperar_senha}" class="link">Esqueci minha senha!</a>
            <a th:href="@{/cadastro}" class="link">Crie sua conta!</a>
            
            <p th:if="${param.error}" style="color:red">Email ou Senha Inválido!</p>
            <p th:if="${param.logout}" style="color:green">Você saiu com sucesso!</p>
        </div>
    </div>

    <footer>
        <div class="footer-logo">
            <img th:src="@{/img/LogoSem.png}" alt="Logo Anatanelly" />
            <div class="footer-logo-text">
                <strong>Anatonelly</strong>
                <span>Global Transportes</span>
            </div>
        </div>
        <div class="footer-content-right">
            <div class="footer-contact">
                <span>Contato</span>
                <span>
                    <img th:src="@{/img/gmail.png}" alt="gmail">
                    comercial@globaltransportes.log.br
                </span>
                <span>
                    <img th:src="@{/img/telefone.png}" alt="telefone">
                    +55 (31) 99431-6561
                </span>
            </div>
            <div class="footer-social">
                <span>Redes Sociais</span>
                <div class="footer-social-icons">
                    <a href="https://facebook.com/seu_perfil" target="_blank">
                        <img th:src="@{/img/Face.png}" alt="Facebook" />
                    </a>
                    <a href="https://instagram.com/seu_perfil" target="_blank">
                        <img th:src="@{/img/Insta.png}" alt="Instagram" />
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-copy">© 2023 Anatonelly. Todos os direitos reservados.</div>
    </footer>
</body>
</html>
